/bin/Podpulate/Podpulate.csproj.user
/bin/Podpulate.v12.suo
Podpulate.dll
Podpulate.pdb
/bin/Podpulate/bin/Debug
/bin/Podpulate/obj
/bin/xml/podcast.xml
/bin/xml/wsgAudio-iTunes.bak.xml
/bin/xml/wsgpodcast.bak.xml
/bin/xml/wsgpodcast.xml
/bin/xml
/Podpulate_local.bat
